.container-fluid {
    background-image: url(../../assets/gitback4.jpg);
    font-family: 'Courgette', cursive;
    /* background-repeat: no-repeat; */
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    
}

#gitsearch{
    margin-top:200px;
    font-size:40px;
    margin-left:-5%;
}