<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About GithubSearch</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>
    <div class ="container-fluid">
            <div class="github">
                    
                
                    <p class="lead text-center" id="gitsearch">
                        <img src="../../assets/gitsearch.gif" alt="gitsearchlogo" id="gitanim"><br>


                             Allows you to access your github<br>
                         repositories <br>
                         by searching for your Github<br> Username </p>


                         
                  </div>
    </div>
    
</body>
</html>
