label{
    cursor: pointer;
}
.panel{
    cursor: pointer;
}
#date{
    cursor: pointer;
}

.container-fluid{
    background-image: url(/src/assets/Telegram.jpg) !important;
    background-size: cover;
}