label{
    cursor: pointer;
}
.panel{
    cursor: pointer;
}
#date{
    cursor: pointer;
}
/* html{
     background-image: url("/src/assets/Telegram.jpg");  
} */

.container-fluid{
   
    background-size: cover;
    font-family: 'Courgette', cursive;
    font-size:30px;
    /* background-color:lightcoral; */
    height:100%;
    width:100%;
    position: absolute; 
}

#userbios{
    
     background-size: cover;
    font-family: 'Courgette', cursive;
    font-size:30px;
    background-color:lightcoral; 
    height:100%;
    width:100%;
    position: absolute; 
    display: none;
}
.avatar{
    align-content:center;

}

