

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>

    

    <form (ngSubmit)='userDetails()' #searchForm='ngForm'>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search  git users with username" [(ngModel)]="username"
                    name="username" (keyup)="userDetails()">
            </div>
        </form>
        <div class="row">
            <div class="avatar">
                <img class="circle-image" src="{{profile.avatar_url}}"  alt="Profile Image">
                <p class="text-center" >Created:{{user.creation|dateDisplay }} days ago</p>
            </div>
        </div>
        <h3 class="">User Repositories</h3>
        <div class="row">
            <div class="card col-lg-5 ml-3 bg-secondary" *ngFor="let repo of repos">
                <div class="row">
                        <p appHighlight *ngIf="repo.name.length > 10">Long repo name</p>
                                <div class="col-md-9">
                                <h3>{{repo.name}}</h3>
                                <p>{{repo.description}}</p>
        
                                <h4><a href="{{repo.html_url}}" target="_blank" class="btn btn-info">See on github</a>
                                </h4>
                            </div>
        
                            <div class="col-md-3">
                                <span class="btn btn-success">{{repo.watchers}} Number of Stars </span>
                                <span class="btn btn-primary">{{repo.forks}} Number of Forks </span>
                            </div>
        
                        </div>
                        <hr>
                    </div>
        </div>
    
</body>
</html>

     
    